<ion-view view-title="我的关注">
 	<ion-nav-buttons side="right">
	    <a class="button" href="#/addFriends">
	        <i class="icon ion-plus-round"></i>
	    </a>
   	</ion-nav-buttons>
   	<ion-content>
   		<div class="list attention">
		    <a class="item item-avatar" href="javascript:;">
		      <img src="img/personer.jpg">
		      <h2>小新</h2>
		      <p>卡通动漫主角</p>
		      <span><i class="icon ion-checkmark-round"></i>FOLLOW</span>
		    </a>
		    <a class="item item-avatar" href="javascript:;">
		      <img src="img/personer.jpg">
		      <h2>小新</h2>
		      <p>卡通动漫主角</p>
		      <span><i class="icon ion-checkmark-round"></i>FOLLOW</span>
		    </a>
		    <a class="item item-avatar" href="javascript:;">
		      <img src="img/personer.jpg">
		      <h2>小新</h2>
		      <p>卡通动漫主角</p>
		      <span><i class="icon ion-checkmark-round"></i>FOLLOW</span>
		    </a>
		    <a class="item item-avatar" href="javascript:;">
		      <img src="img/personer.jpg">
		      <h2>小新</h2>
		      <p>卡通动漫主角</p>
		      <span><i class="icon ion-checkmark-round"></i>FOLLOW</span>
		    </a>
		</div>
   	</ion-content>
</ion-view>
