<ion-view title="我的收藏">
	<ion-content style="background:#f5f5f5">
		<div class="bar bar-header item-input-inset" style="background:#f5f5f5">
		  <label class="item-input-wrapper" style="background:#fce34b">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="搜索故事、地点、人物、话题">
		  </label>
		</div>
		
		<ion-list>
			<ion-item style="padding:6px;width:94%;height:100%;margin: 0 auto;margin-bottom:10px;border-radius: 5px;" ng-repeat="i in [1,2,3,4]">
				<div style="height:40px;line-height:40px">
					<img src="img/personer.jpg" style="width:30px;height:30px;vertical-align: middle;"/>
					<span style="font-size:12px">小新</span>
					<span style="float:right">time</span>
				</div>
				<p>
					青春往事，多么甜蜜；青春岁月，多么靓丽；青春流年，如火如荼。青春里，我们向着梦想前进。跌倒过，伤心过，快乐过，痛苦过，孤独过，彷徨过，迷茫过。总是，在悠悠的岁月中徘徊；总是，在如春的生命中成长；总是，在季节的交替中感悟人生四季的美妙与韵律；总是，在多愁善感中体悟青春的美好与无奈。
				</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>