<ion-view view-title="food" style="text-align: left">
  <ion-content>
    <h3>我是实物</h3>

    <!--<div class="list">
      <a ng-repeat="value in data" class="item item-thumbnail-left" href="#tabs/{{value.goodsID}}">
        <img src="{{value.goodsListImg}}">
        <h2>{{value.goodsName}}</h2>
        <p>{{value.className}}</p>
      </a>
    </div>-->

    <!--<ion-infinite-scroll
      on-infinite="loadMore()"
      distance="-5%">
    </ion-infinite-scroll>-->
  </ion-content>



</ion-view>
