
	<ion-view view-title="编辑资料" ion-content style="background: url(img/personal_message.png) no-repeat center center/cover;">
		<div>
			<div class="list card" style="position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin:70px auto;width:90%;">		
			  <div class="item item-body">
			    <img class="" src="img/personer.jpg" style="width:100px;height:100px;margin-left:30%">
			    <p style="text-align: center;">小新</p>
			    <div class="list message">
				  <label class="item item-input">
				    <span class="input-label">头像</span>
				    <input type="text">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">昵称</span>
				    <input type="password">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">介绍自己</span>
				    <input type="password">
				  </label>
				  <label class="item item-input">
				    <span class="input-label">我的签名</span>
				    <input type="password">
				  </label>
				  <label class="item item-input">
				    <span class="input-label"></span>
				  </label>
				</div>
			  </div>
			</div>
		</div>
	
</ion-view>
