<div style="background:url(img/bg.jpg) no-repeat center center/cover;z-index: 999;" class="panel">
	<div class="register">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">用户名</span>
		    <input type="text" ng-model="info.username">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">邮箱</span>
		    <input type="text" ng-model="info.email">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">密码</span>
		    <input type="password" ng-model="info.password">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">确认密码</span>
		    <input type="password">
		  </label>
		</div>
		<ion-button class="button button-block button-positive" ng-click="register()">创建您的账户</ion-button>
	</div>
</div>
